In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("my_file (1).csv")

In [3]:
df.shape

(20, 11)

In [4]:
df.head()

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual gross                      20 non-null     object
 4   Adjusted gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

In [5]:
for column in df.columns:
    print(df[column].unique())
    print('-'* 20)

[ 1  2  3  4  5  6  7  9 10 11 12 13 14 15 16 17 18 19 20]
--------------------
['1' '1[4]' '2[7]' '2[4]' '2[10]' nan '1[20]' '2[c]']
--------------------
['2' '7[2]' '2[5]' '10[7]' nan '10[9]' '14[17]']
--------------------
['$780,000,000' '$579,800,000' '$411,000,000' '$397,300,000'
 '$345,675,146' '$305,158,363' '$280,000,000' '$257,600,000'
 '$256,084,556' '$250,400,000' '$229,100,000[b]' '$227,400,000'
 '$204,000,000' '$200,000,000' '$194,000,000' '$184,000,000'
 '$170,000,000' '$169,800,000' '$167,700,000[e]' '$150,000,000']
--------------------
['$780,000,000' '$579,800,000' '$560,622,615' '$454,751,555'
 '$402,844,849' '$388,978,496' '$381,932,682' '$257,600,000'
 '$312,258,401' '$309,141,878' '$283,202,896' '$295,301,479'
 '$251,856,802' '$299,676,265' '$281,617,035' '$227,452,347'
 '$213,568,571' '$207,046,755' '$204,486,106' '$185,423,109']
--------------------
['Taylor Swift' 'Beyoncé' 'Madonna' 'Pink' 'Celine Dion' 'Lady Gaga'
 'Katy Perry' 'Cher' 'Adele']
--------------------
['The Eras Tour †' 'Renaissance World Tour' 'Sticky & Sweet Tour ‡[4][a]'
 'Beautiful Trauma World Tour' 'Reputation Stadium Tour' 'The MDNA Tour'
 'Taking Chances World Tour' 'Summer Carnival †'
 'The Formation World Tour' 'The 1989 World Tour'
 'The Mrs. Carter Show World Tour' 'The Monster Ball Tour *'
 'Prismatic World Tour' 'Living Proof: The Farewell Tour ‡[21][a]'
 'Confessions Tour' 'The Truth About Love Tour' 'Born This Way Ball'
 'Rebel Heart Tour' 'Adele Live 2016' 'The Red Tour']
--------------------
['2023–2024' '2023' '2008–2009' '2018–2019' '2018' '2012' '2016' '2015'
 '2013–2014' '2009–2011' '2014–2015' '2002–2005' '2006' '2012–2013'
 '2015–2016' '2016–2017']
--------------------
[ 56  85 156  53  88 131  41  49 132 203 151 325  60 142  98  82 121  86]
--------------------
['$13,928,571' '$10,353,571' '$4,835,294' '$2,546,795' '$6,522,173'
 '$3,467,709' '$2,137,405' '$6,282,927' '$5,226,215' '$2,945,882'
 '$1,735,606' '$1,118,227' '$1,350,993' '$615,385' '$3,233,333'
 '$1,295,775' '$1,734,694' '$2,070,732' '$1,385,950' '$1,744,186']
--------------------
['[1]' '[3]' '[6]' '[7]' '[8]' '[9]' '[11]' '[12]' '[13]' '[14]'
 '[15][16]' '[18]' '[19]' '[20]' '[5]' '[22]' '[d]' '[4]' '[25]' '[26]']
--------------------